
<form action='register_do'/>
	<table>
		<tr>
			<th>Username</th><td><input type='text' name='name'/></td>
		</tr>
		<tr>
			<th>Password</th><td><input type='password' name='password'/></td>
		</tr>
		<tr>
			<th>Repeat Password</th><td><input type='password' name='password_repeat'/></td>
		</tr>
		<tr>
			<th>Email</th><td><input type='text' name='email'/></td>
		</tr>
		<tr>
			<th>Mobile</th><td><input type='text' name='mobile'/></td>
		</tr>
		<tr><th/><td><input type='submit'/></td>
	</table>
</form>
