
#about-p {position: relative; width: 1000px; float: left; background: url(/media/images/tl75.png)}
#about-p td{ vertical-align: top;}
#about-p #intro-tr {height: 400px;}
#about-p #intro {margin: 0 auto; width: 1000px; height: 400px;}
#about-p #left_side{ position: relative; width: 500px; }
#about-p #left_side img{ position:absolute; left: 270px; top: 80px;}
#about-p #vhr_td{ width: 1px; height: 100%;}
#about-p .v_hr { width: 1px; height: 400px;}
#about-p #right_side{ position: relative; width: 500px; }
#about-p #right_side img{ position: absolute; right: 30px; top: 80px; }

#about-p #hr {position: absolute; top: 450px; width: 100%;}

#about-p #greeting-tr { }
#about-p #greeting {position: relative; width: 1000px; margin-bottom: 10px;}
#about-p #greeting  #hr{position: absolute; top: 0px;}
#about-p #greeting a {margin-left: 20px;}
#about-p #greeting form {position: relative;}
#about-p #form-table {position:relative; left: 20px; top: 20px; bottom: 10px; right:20px; width: 90%}
#about-p #greeting table td,#greeting table th{vertical-align: top; 
		padding: 0px 5px 0px 5px; text-align:right;}
#about-p #greeting table textarea { width: 100%; border-color: #bbb;
		-webkit-box-shadow: white 0px 1px;}
#about-p #greeting table textarea:hover { border-color: #999;}
#about-p #greetings { }
