
#blog-p { position: relative; width: 100%; height: 500px; background: url(/media/images/tl75.png) }
#blog-p #left_side{position: absolute; right: 50%; width: 480px; margin: 10px 10px; }
#blog-p .v_hr{ position:absolute; left: 50%; height: 100%;}
#blog-p #right_side{position: absolute; left: 50%; width: 480px; margin: 10px 10px;}

#blog-p .header {position: relative; width: 100%;}
#blog-p .header img {position: absolute; left: 0px; top: 0px;}
#blog-p .header .name {position: absolute; left: 100px; top: 0px; font-size: 24px;}
#blog-p .header .status {position: absolute; left: 100px; top: 23px; padding-left: 0px;}
#blog-p .header form {position: absolute; left: 120px; top: 52px; }
#blog-p .header form .submit{position: absolute; left: 270px; top: 10px; height: 25px; width: 60px;}
