
#blog-p { position: relative; width: 100%; height: 500px; background: url(/media/images/tl75.png) }
#blog-p #left_side { position: absolute; width: 190px; left: 0px; min-height: 500px; border-right: 1px solid #aaa;}
#blog-p #right_side { position: absolute; width: 190px; right: 0px; min-height: 500px; border-left: 1px solid #aaa;}

#blog-p .side .header img {position: absolute; left: 20px; top: 20px;}
#blog-p .side .header .name {position: relative; left: 20px; top: 180px; font-size: 24px;}
