
#login-p {margin: 10px auto; width: 300px}
#login-p legend{margin-left: 5px}
#login-p table {margin: 10px 20px 10px 20px;}
#login-p table th{text-align: left; font-weight: normal; padding-right: 20px;}
