<html>
    <body>Hello
{% if user.is_authenticated %}
    {{ user.username }}!
    [<a href="{% url django.contrib.auth.views.logout %}"><b>sign out</b></a>]
{% else %}
    World!
    [<a href="{% url django.contrib.auth.views.login %}"><b>sign in</b></a>]
{% endif %}

    <h2>Top 10 Most Recent Guestbook Entries</h2>

    {% for greeting in greetings %}
    <br>
    <small>[<i>{{ greeting.date.ctime }}</i>]</small>
    <b>
    {% if greeting.author %}
        <code>{{ greeting.author.username }}</code>
    {% else %}
        <i>anonymous</i>
    {% endif %}
    </b>
    wrote:
        {{ greeting.content }}
    {% endfor %}

    <hr>
    <form action="/guestbook/sign" method="post">{% csrf_token %}
        <table>{{ form }}</table>
        <input type="submit" value="Sign Guestbook" />
    </form>
    </body>
</html>