<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<meta name="Author" content="Paullzn Inc." /> 
	<meta name="viewport" content="width=1024" /> 
	<title>Paullzn</title> 
	<meta name="Keywords" content="Paullzn" /> 
	<meta name="Description" content="Paullzn, personal web site. Blog, Album, Lab" />
    <link rel="stylesheet" href="/medias/css/home.css" type="text/css" />
</head>
<body id="home">
    <div id="globalheader">
        <div id="titleheader" class="headbar">
            <h1 id="title">Paullzn Zone</h1>
            <p id="title-descrip">Little Bear's Home</p>
        </div>
        <ul id="globalnav">
            <li id="gn-home">
                <a href="#">Home</a>
            </li>
            <li id="gn-bear">
                <a href="#">Little Bear</a>
            </li>
            <li id="gn-lab">
                <a href="/lab">Lab</a>
            </li>
            <li id="gn-blog">
                <a href="/blog">Blog</a>
            </li>
            <li id="gn-album">
                <a href="/album">Album</a>
            </li>
            <li id="gn-achieve">
                <a href="/achieve">Achieve</a>
            </li>
            <li id="gn-achieve">
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
    <div id="main">
        <p>This is Paullzn's place</p>
        <p>Welcome!!!</p>
    </div>
    <div id="footer">
        <a>Copyright 2010 Paullzn. Please </a><a href="mailto:paullzn@gmail.com">ask</a><a> before you take.</a>
    </div>    
</body>
</html>