
#left_side{position: absolute; left: 0px; width: 300px;}
#l_v_hr{position: absolute; left: 300px; width: 1px;}
#r_v_hr{position: absolute; right: 300px; width: 1px;}
#right_side{position: absolute; right: 0px; top:0px; width: 300px;}