!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/renren.js')
    script(type='text/javascript', src='javascripts/client/tsInit.js')
    script(type='text/javascript', src='/javascripts/client/tsPlatform.js')
    script(type='text/javascript', src='/javascripts/client/renrenPlatform.js')
  body!= body
