{% extends "default/base.html" %}
{% block title %}<title>Paullzn About</title>{% endblock %}
{% block main %}
    <div id="main">
        <div id="detail_dashboard">
            <div id="left_side">
                <p>
                    <img src="/medias/images/he.jpg"/>
                </p>
                <p>I'm Paullzn, a Chinese citizen born in Hebei province and now studying in Beijing.</p>
                <p>
                    <b>Email me:</b><br/>
                    <a>paullzn /@/ gmail \.\ com</a>
                </p>
                <p>
                    <b>About me:</b><br/>
                    I'm senior in Department of Computer Science and Technology in THU, now..
                </p>
                <p>
                    <b>My interests:</b><br/>
                    Hiphop dancing, Movie, KTV...
                </p>
                
            </div>
            <hr id="l_v_hr" class="v_hr"/>
            <hr id="r_v_hr" class="v_hr"/>
            <div id="right_side">
                <p>
                    <img src="/medias/images/she.jpg"/>
                </p>
                <p>I'm LingYu, a Chinese citizen born in Hebei province and now studying in Beijing.</p>
                <p>
                    <b>Email me:</b><br/>
                    <a>kongly0320 /@/ gmail \.\ com</a>
                </p>
                <p>
                    <b>About me:</b><br/>
                    I'm sophomore in School of Journalism and Communication in THU, now..
                </p>
                <p>
                    <b>My interests:</b><br/>
                    Food, Books, Newspaper...
                </p>
            </div>
        </div>
    </div>
{% endblock %}
