{% extends "default/base.html" %}
{% block title %}<title>Paullzn-blog</title>{% endblock %}
{% block main %}

	<div id="{{page}}-p">
	 	<div id="left_side" class="side">
			<div class="header">
				<img src="/media/images/he.jpg" height="150"/>
				<b class="name">Paullzn</b> 
			</div>
		</div>
		<div id="right_side" class="side">
			<div class="header">
				<img src="/media/images/she.jpg" height="150"/>
				<b class="name">Lisa</b>
			</div>
		</div>
		<div id="blog_main">
		</div>
	</div>
	
{% endblock %}
