<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<meta name="Author" content="Paullzn Inc." /> 
	<meta name="viewport" content="width=1024" /> 
	{% block title%}<title>Paullzn</title> {% endblock %}
	<meta name="Keywords" content="Paullzn" /> 
	<meta name="Description" content="Paullzn, personal web site. Blog, Album, Lab" />
    {% block stylesheets %}<link rel="stylesheet" href="/medias/css/home.css" type="text/css" />{% endblock %}
</head>
<body id="home">
    {% block header%}
    <div id="titleheader" class="headbar">
        <h1 id="title">Paullzn Zone</h1>
        <p id="title-descrip">Little Bear's Home</p>
    </div>
    {% endblock %}
    {% block globalnav%}
    <div id="globalnavbar">
        <ul id="globalnav">
                <li id="gn-home">
                    <a href="/">Home</a>
                </li>
                <li id="gn-bear">
                    <a href="/littlebear">Little Bear</a>
                </li>
                <li id="gn-lab">
                    <a href="/lab">Lab</a>
                </li>
                <li id="gn-blog">
                    <a href="/blog">Blog</a>
                </li>
                <li id="gn-album">
                    <a href="/album">Album</a>
                </li>
                <li id="gn-achieve">
                    <a href="/achieve">Achieve</a>
                </li>
                <li id="gn-achieve">
                    <a href="/about">About</a>
                </li>
            </ul>
    </div>
    {% endblock %}
    {% block main %}
    <div id="main">
        <div id="dashboard">
        </div>
        <hr />
        <div id="detail_dashboard">
            <div id="left_dashboard">
                <p>This is Paullzn's place</p>
                <p>Welcome!!!</p>
            </div>
            <hr id="v_hr"/>
            <div id="right_dashboard">
            </div>
        </div>
        
    </div>
    {% endblock %}
    {% block footer %}
    <div id="footer">
        <a>Copyright 2010 Paullzn. Please </a><a href="mailto:paullzn@gmail.com">ask</a><a> before you take.</a>
    </div>    
    {% endblock %}
</body>
</html>